body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* IMAGE TOP */
.top-image {
  position: relative;
  width: 100%;
  height: 250px;
  overflow: hidden;
}

.top-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* BIG TEXT */
.title {
  position: absolute;
  bottom: 20px;
  left: 20px;
  font-size: 80px;
  font-weight: bold;
  color: white;
  letter-spacing: 2px;
}

.title span {
  font-size: 40px;
  margin-left: 5px;
}

/* CONTENT SECTION */
.content {
  background: #e9e9e9;
  padding: 25px;
  line-height: 1.7;
  color: #222;
}

h2 {
  font-size: 20px;
  font-weight: bold;
}

h3 {
  margin-top: 25px;
}

p {
  margin-bottom: 18px;
}

ul {
  padding-left: 20px;
}

li {
  margin-bottom: 15px;
}
